<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <rules>
    <logger name="Mitchell.Csg.JITUX.*" minlevel="Info" writeTo="local-logging-feed" final="true"/>
    <logger name="*" minlevel="Info" writeTo="blackhole" final="true"/>
    <logger name="*" maxlevel="Debug" writeTo="blackhole" final="true"/>
  </rules>
</nlog>