<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Error"
	  internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="Mitchell.Corp.EnterprisePlatform.Logging.NLog" />
  </extensions>

  <!-- define various log targets -->
  <targets>

    <!-- write log to Console -->
    <target xsi:type="Console" name="enterprise-logging-feed">
      <layout type='CompoundLayout'>
        <layout type='SimpleLayout' text="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ} ${uppercase:${level}} ${processid} ${mi-dockerimagename} [${mi-executingassemblypackageversion}] --- [thread-${threadid}] ${logger} [${mi-requestid}] : [${mi-caller}] : [] : " />
        <layout xsi:type="JsonLayout">
          <attribute name="applicationInstanceName" layout="${mi-executingassemblyname}" />
          <attribute name="applicationSessionId" layout="" />
          <attribute name="processName" layout="${processname}" />
          <attribute name="method" layout="${aspnet-Request-Method}" />
          <attribute name="url" layout="${aspnet-request-url:IncludeHost=false:IncludeQueryString=true}" />
          <attribute name="message" layout="${message}${onexception:${newline}${exception:format=toString}}" />
        </layout>
      </layout>
    </target>

    <!-- write log to local file -->
    <target xsi:type="File" name="local-logging-feed" fileName="${basedir}/logs/${shortdate}.log"
        layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- write Metric to Console -->
    <target xsi:type="Console" name="enterprise-metrics-feed">
      <layout type='SimpleLayout' text="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ} ${uppercase:${level}} ${processid} ${mi-dockerimagename} [${mi-executingassemblypackageversion}] --- [thread-${threadid}] com.mitchell.metro.metrics.LogReporter [${mi-requestid}] : [${mi-caller}] : [] : ${message}" />
    </target>

    <!-- don't write log -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <include file="nlog.${environment:variable=ASPNETCORE_ENVIRONMENT:lowercase=true}.config" />
</nlog>