<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Mitchell Internal" value="http://repo.mitchell.com/artifactory/api/nuget/dot-net-internal-repos" />
    <add key="Mitchell Nuget (Release)" value="http://repo.aws.int/artifactory/api/nuget/nuget-release" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>