<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <rules>
    <logger name="Mitchell.Corp.EnterprisePlatform.HostedServices.MetricReportingHostedService" writeTo="blackhole" final="true" />

    <logger name="App.Metrics.*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="App.Metrics.*" maxlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minlevel="Info" writeTo="local-logging-feed" final="true" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" minlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="Microsoft.AspNetCore.StaticFiles.*" minlevel="Info" writeTo="local-logging-feed" final="true" />
    <logger name="Microsoft.AspNetCore.StaticFiles.*" maxlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="Microsoft.*" minlevel="Info" writeTo="local-logging-feed" final="true" />
    <logger name="Microsoft.*" maxlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="Steeltoe.Discovery.Eureka.*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="Steeltoe.Discovery.Eureka.*" maxlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="Steeltoe.Management.*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="Steeltoe.Management.*" maxlevel="Debug" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="enterprise-metrics-feed" final="true" />
    <logger name="*" minlevel="Info" writeTo="local-logging-feed" final="true" />
    <logger name="*" maxlevel="Debug" writeTo="blackhole" final="true" />
  </rules>
</nlog>